<html>
  <head>
    <title>The New Brunswick Provincial Database</title>
    <style type="text/css">
      #center-container {
        max-width: 1080px;
        max-height: 1600px;
          margin: 0 auto;
      }
      li {
        margin-top: 2px;
        margin-bottom: 2px;
      }
    </style>
  </head>
  <body>
    <div id="center-container">
    <h3>Available Studies</h3>
    <ul>
      {% for study in data %} 
      <li>
        {% set domain = 'us' if 'data' in study['domain'] else 'uk' %}
        <div>
          <a href="/api/study/{{ study['crf_id'] }}?domain={{ domain }}" title="Version {{ study['version'] }}">{{ study['name'] }}</a>
          &nbsp;|&nbsp; 
          <a href="api/study/{{ study['study_id'] }}/data-point-collection/study+report?domain={{ domain }}">Data</a>
          &nbsp;|&nbsp;
          <a href="api/study/{{ study['study_id'] }}/field?domain={{ domain }}">Fields</a>
        </div>
        <ul>  
          {% for record in study['records'] %}
          {% set institute = record['_embedded']['institute'] %}
          {% if 'ARCHIVED' not in record['record_id'] %}
          <li>
            <a href="api/study/{{ study['study_id'] }}/record/{{ record['record_id'] }}?domain={{ domain }}">{{ record['record_id'] }}</a>
            &nbsp;|&nbsp;
            <a href="api/study/{{ study['study_id'] }}/institute/{{ institute['institute_id'] }}?domain={{ domain }}">{{ institute['name'] }}</a>
            &nbsp;|&nbsp;
            <a href="api/study/{{ study['study_id'] }}/record/{{ record['record_id'] }}/data-point/study?domain={{ domain }}">Data</a>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul> 
    </div>  
  </body>
</html>