<html>
  <head>
    <title>The New Brunswick Provincial Database</title>
    <style type="text/css">
      #center-container {
        max-width: 300px;
        max-height: 500px;
          margin: 0 auto;
      }
      li {
        margin-top: 2px;
        margin-bottom: 2px;
      }
    </style>
  </head>
  <body>
    <div id="center-container">
    <h3>Available Services</h3>
    <ul>
        <li>
          <div>Users<div>
          <ul>  
          {% for user in users %}
            <li>
              <a href="/api/user/{{ user['id'] }}" title="{{ user['institute'] }} / {{ user['department'] }}">{{ user['full_name'] }}</a>
            </li>
          {% endfor %}
        </ul>
        </li>
        <li>
          <div>Studies<div>
          <ul>  
          {% for study in studies %}
            <li>
              <a href="/api/study/{{ study['crf_id'] }}?domain={{ 'us' if 'data' in study['domain'] else 'uk' }}" title="Version {{ study['version'] }}">{{ study['name'] }}</a>
              <br/>
              <a href="/api/study/{{ study['study_id'] }}/export/data?domain={{ 'us' if 'data' in study['domain'] else 'uk' }}">export</a>
              &nbsp;|&nbsp;
              <a href="/study/{{ study['study_id'] }}/records?domain={{ 'us' if 'data' in study['domain'] else 'uk' }}">records</a>
            </li>
          {% endfor %}
        </ul>
        </li>
    </ul> 
    </div>  
  </body>
</html>