<html>
	<head>
		<title>The New Brunswick Provincial Database</title>
		<style type="text/css">
      	#center-container {
      		max-width: 1920px;
      		max-height: 1080;
					margin: 0 auto;
      	}
      	li {
      		margin-top: 2px;
      		margin-bottom: 2px;
      	}
      </style>
	</head>
	<body>
		<div id="center-container">
			<table>
				<tr>
					{% for attribute_name in keys  %}
						<th>{{ attribute_name | capitalize }}</th>
					{% endfor %}
				</tr>
				{% for i in range(0, size) %}
					<tr>
							{% for attribute_name in keys %}
								<td title="{{ records[i][attribute_name]['timezone'] if attribute_name in 'created_on' or attribute_name in 'updated_on' else '' }}">{{ records[i][attribute_name]['date'] if attribute_name in 'created_on' or attribute_name in 'updated_on' else records[i][attribute_name] }}</td>
							{% endfor %}	
					</tr>
				{% endfor %}	
			</table>
		</div>	
	</body>
</html>	